<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SynapseBaseUrl" value="https://sandbox.synapsepay.com/api/v3/"/>
    <add key="SynapseClientId" value="MP3xWhxJwZg8cWUdsCeA"/>
    <add key="SynapseClientSecret" value="1TdmwNCzwwXkNAQ9lHXfZOxpiXeQTnIQf5anypFn"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
