<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SynapseBaseUrl" value="https://sandbox.synapsepay.com/api/3/"/>
    <add key="SynapseClientId" value="" />
    <add key="SynapseClientSecret" value="" />
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
